.header{
    background-color: black;
    color: white;
    
}

.Header-right{
    background-color: red;
}
.link{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;

}


.link li {
    list-style: none;
    padding: 10px 20px;
    align-items: center;
       
}

